* {
    box-sizing: border-box;
}

body {
    background-color: #F2E9E2;
    font-size: 14px;
    margin: 0;
}

#card-body {
    background-color: #ffffff;
    padding: 7.5%;
    border-radius: 0 0 7.5px 7.5px;
    text-align: left;
    line-height: 2rem;
}

main {
    margin: 7% 3.5%;
}

h1 {
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    margin-top: 12%;
}

#price {
    color: #3d8168;
    margin: 0 10% 0 0;
}

#ih-mobile {
    width: 100%;
    display: block;
    border-radius: 7.5px 7.5px 0 0;
}

#ih-desktop {
    border-radius: 7.5px 0 0 7.5px;
    display: none;
    width: 50%;
}

p {
    line-height: 1.75rem;
    font-size: 1.05rem;
    font-family: font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
}

#striked {
    text-decoration: line-through;
    font-size: 1.05rem;
    font-family: font-family: 'Montserrat', sans-serif;
}

.btn {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    background: #3d8168;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
background: hsl(137, 72%, 16%);
text-decoration: none;
}

@media only screen and (min-width: 768px) {
    main {
        margin: 50% 20%;
    }
    #ih-mobile {
      display: none;
    }
    #card-body {
      border-radius: 0 7.5px 7.5px 0;
      width: 50%;
    }
    #ih-desktop {
      display:block;
    }
    main, ul {
      display: flex;
    }
}
